video#local, video#remote{
  width: 320
}

#players-number {
  background-color: #ae690f;
  font-family: StaatLiches;
  font-size: 32px;
  width: 58px;
  padding-top: -3px;
  line-height: 1;
  border: 0;
  border-radius: 5px;
  height: 34px;
  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #ae690f;
  -webkit-appearance: none;
  background-position-x: 35px;
}