.videos-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.video-container {
	height: 280px;
	width: 320px;
	background-color: rgb(43, 43, 43);
}

video {
	width: 320px;
	height: 280px;
}

video#local,
video#remote {
	width: 320;
}

@import './global_scss/reset.scss';
