.videos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: orange;
}

.videos-container>h2 {
  width: 100%;
  text-align: center;
  font-size: 2em;
  margin-bottom: 0;
}

.video-container{
  height: 280px;
  width: 320px;
  background-color: rgb(43, 43, 43);
}

main {
  width: 80%;
  height: 70vh;
  min-height: 600px;
  background-color: rgb(230, 165, 80);
  margin: auto;
  box-shadow: -5px 5px black;
}

h1 {
  font-family: StaatLiches;
  font-size: 100px;
  text-align: center;
}

video {
  width: 320px;
  height: 280px;
}