body {
  background-color: rgb(43, 43, 43);
}

.videos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.videos-container>h2 {
  width: 100%;
  text-align: center;
  font-size: 2em;
  margin-bottom: 0;
}

.video-container{
  height: 280px;
  width: 320px;
  background-color: rgb(43, 43, 43);
}

main {
  width: 80%;
  min-height: 600px;
  background-color: rgb(230, 165, 80);
  margin: auto;
  box-shadow: -5px 5px black;
}

h1 {
  font-family: StaatLiches;
  font-size: 100px;
  text-align: center;
}

video {
  width: 320px;
  height: 280px;
}

video#local, video#remote{
  width: 320
}

#players-number {
  background-color: #ae690f;
  font-family: StaatLiches;
  font-size: 32px;
  width: 58px;
  padding-top: -3px;
  line-height: 1;
  border: 0;
  border-radius: 5px;
  height: 34px;
  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #ae690f;
  -webkit-appearance: none;
  background-position-x: 35px;
}

.button-large {
  font-size: 52px;
  font-family: StaatLiches;
  padding: 20px;
  background-color: orange;
  border: 3px solid red;
  width: 400px;
}

.button-medium {
  font-size: 32px;
  font-family: StaatLiches;
  padding: 0px 10px;
  background-color: orange;
  border: 3px solid red;
}
